* {
  margin: 0;
}

.app {
  background-color: #fafafa;

}

.app__header {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__title {
  display: flex;
}

.app__title h1 {
  padding: 10px;
}

.app__headerImage {
  object-fit: contain;
  height: 50px;
  width: 50px;
}

.app__headerButtons {
  padding: 10px;
}

.app__posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__signup Button {
  border: 1px solid #5c98dd;
}

.app__signUpLogo {
  height: 50px;
  width: 50px;
}

.app__imageUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

@media (max-width: 480px) {
  .app__signup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .app__signin {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}